.headerside {
  /* border: 2px solid red; */
  height: 100vh;
}
.smallnavbar {
  display: none;
}
.flextonavandchildren {
  display: flex;
  height: 100vh;
}
.mainforfood {
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .giveflex {
    flex-direction: column;
  }
  .headerside {
    display: none;
  }
  .smallnavbar {
    display: block;
    height: auto !important;
    color: black;
    display: none;
  }
  .textcolor {
    color: white;
    text-decoration: none;
    padding-top: 12px;
  }
  .textcolorlink {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 520px) {
  .giveflex {
    flex-direction: column;
    /* position: absolute; */
  }
  /* .headerside {
    display: none;
  } */

  .smallnavbar {
    display: block;
    height: auto !important;
    color: black;
    display: none;
  }
  .textcolor {
    color: white;
    text-decoration: none;
    padding-top: 12px;
  }
  .textcolorlink {
    padding-top: 30px;
  }
}
.flexcol {
  flex-direction: column !important;
  padding-top: 70px;
}

.nav-link {
  display: block;
  padding: 0 !important;
  margin-top: 10px;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.paddings {
  padding: 0px 12px 0px 12px;
}
.textcolor {
  text-decoration: none;
  color: white;
}
.topoftable {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.maincont {
  width: 100% !important;
}
.leftsidetable {
  padding: 10px;
}
.tabletopright {
  padding: 10px;
}
.btn {
  margin-right: 3px;
}
.maincont {
  margin-top: 7px;
}
@media only screen and (max-width: 625px) {
  .maincont {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 585px) {
  .maincont {
    display: flex;
    flex-direction: column;
  }
}
